 *{
    margin: 0%;
    padding: 0%;
}

#root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 3, 97)
}



#root, #divText {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, span {
    color: whitesmoke;
}

span {
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    font-size: 20pt;
    transition: .2s;
}

span:hover {
    background-color: whitesmoke;
    color: black;
}

#divText {
    width: 100%;
    padding: 1rem 0;
    flex-direction: column;
    gap: 3rem;
}

#inputText{
    width: 290px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    background-color: rgba(174, 176, 179, 0.733);
}